<mat-toolbar color="primary"><span><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  CMT Hackathon</span>
  <div class="spacer"></div>
  <a mat-button routerLink="/register" >Register</a>
  <a mat-raised-button color="accent" routerLink="/login">Log out</a>
</mat-toolbar>
<br><br>

<table mat-table [dataSource]="fundingRequest" class="mat-elevation-z8">

    <!-- Position Column -->
  <ng-container matColumnDef="astID">
    <th mat-header-cell *matHeaderCellDef> Asset ID </th>
    <td mat-cell *matCellDef="let element"> {{element.astID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Funding Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

   <ng-container matColumnDef="party">
    <th mat-header-cell *matHeaderCellDef> Party Name </th>
    <td mat-cell *matCellDef="let element"> {{element.party}} </td>
  </ng-container>

  
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="schedulefunddate">
    <th mat-header-cell *matHeaderCellDef> SFD Date </th>
    <td mat-cell *matCellDef="let element"> {{element.schedulefunddate}} </td>
  </ng-container>

  <ng-container matColumnDef="certification">
    <th mat-header-cell *matHeaderCellDef> Certification</th>
    <td mat-cell *matCellDef="let element"> {{element.certification}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>